{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper">
        <img src="{{about.avatar_url}}" alt="Imagem de {{about.name}}">
        <h1> {{about.nome}}</h1>
        <h2> {{about.role}} </h2>

        <h2>This is Ghoul very cool</h2>
      
    </div>

     <div id="links-footer" class="links">
        <a href="https://twitter.com/SubPvP" target="_blank">Twitter</a> <br>
        <a href="https://www.linkedin.com/in/joao-pedro-455b79203/" target="_blank">Linkedin</a> <br>
        <a href="https://github.com/Subpvp" target="_blank">Github</a> <br>
        <a href="https://www.youtube.com/channel/UCK2deOyGLojnZF9fHzngr6g" target="_blank">  Youtube</a>
           </div>
           
         <div id="links-footer" class="links">
            {% for link in about.links %}
            <a href="{{ links.url }}" target="_blank">{{ links.name }}</a> 
           
            {% endfor %}
         </div>

{% endblock %}
 