<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym manager</title> 
          <link rel="shortcut icon" href="https://www.freepnglogos.com/uploads/play-button-png/video-play-button-icon-icons-download-11.png" type="image/x-icon"
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="style.css" title="blog style" />
          
         





</head>

<body>
    <header>
        <div class="links">
            
            <a href="/" class="active"> Instructors</a>
            <a href="/members"> Members</a>
            <a href="https://www.youtube.com/watch?v=4RiC8wnzVag&t=8s" target="_blank">PrimeirVideo do Canal(Youtube)</a>
       </div>
    </header>   

        {% block content %}

        {% endblock %}    
</body>
</html>