{% extends "layout.njk" %}


{% block content %}
<form class="card" method="POST" action="/Instructors">
    <section 
    class="avatar" 
    style="width: 400px; height: 400px;     border-radius:19px;  background: url(https://www.superprof.com.br/imagens/anuncios/professor-home-fui-atleta-treinador-lutas-artes-marciais-importantes-equipes-como-guigo-jiu-jitsu-academia-black-trunks-demian-maia.jpg/900x900) no-repeat top center / cover "></section>

    <section class="details">
        <h3>Detalhes</h3>
        
        <div class="item">
            <div>instrutor</div>
            <div>Guilheme Saraiva</div>
        </div>

        <div class="item">
            <div>idade</div>
            <div>22</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>musculação</span>
                <span>Crossfit</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>04/01\1910</div>
        </div>
        

        
    </section>
    

{% endblock content %}