<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym manager</title> 
          <link rel="shortcut icon" href="https://www.freepnglogos.com/uploads/play-button-png/video-play-button-icon-icons-download-11.png" type="image/x-icon"
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
           rel="stylesheet">
        <link rel="stylesheet" href="style.css">



</head>

<body>
    <header>
        <div class="links">
            
            <a href="/" class="active"> Instructors</a>
            <a href="/Members"> Members</a>
            <a href="https://www.youtube.com/watch?v=4RiC8wnzVag&t=8s" target="_blank">PrimeirVideo do Canal(Youtube)</a>
       </div>
    </header>  

    <div class="card">
    <section 
    class="avatar" 
    style="width: 400px; height: 400px;     border-radius:19px;  background: url(https://www.superprof.com.br/imagens/anuncios/professor-home-fui-atleta-treinador-lutas-artes-marciais-importantes-equipes-como-guigo-jiu-jitsu-academia-black-trunks-demian-maia.jpg/900x900) no-repeat top center / cover "></section>

    <section class="details">
        <h3>Detalhes</h3>
        
        <div class="item">
            <div>instrutor</div>
            <div>Guilheme Saraiva</div>
        </div>

        <div class="item">
            <div>idade</div>
            <div>22</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>musculação</span>
                <span>Crossfit</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>04/01\1910</div>
        </div>
        

        
    </section>

      
</body>
</html>