{% extends "layout.njk" %}


{% block content %}
<div class="card">
    <section 
    class="avatar" 
    style="width: 400px; height: 400px; background: url(https://www.superprof.com.br/imagens/anuncios/professor-home-fui-atleta-treinador-lutas-artes-marciais-importantes-equipes-como-guigo-jiu-jitsu-academia-black-trunks-demian-maia.jpg/900x900) no-repeat top center / cover "></section>

    <section class="details"></section>
    

{% endblock content %}