{% extends "layout.njk" %}


{% block content %}
<div class="card">
    <section class="avatar"></section>
    <section class="details"><h1> EDINALDO PEREIRA <br> Personal Treiner</h1></section>
    <section class="letras"><a href="https://www.instagram.com/jpm_021/" target="_blank">instagram</a></section>

{% endblock content %}